<html lang="en">
<%- include('head.ejs') %>

  <body>
    <main>
      <div id="mario-chat">
        <div id="chat-window">
          <div id="output"></div>
          <div id="feedback"></div>
        </div>
        <input type="text" placeholder="Handle" id="handle">
        <input type="text" placeholder="Message" id="message">
        <button id="send">Send</button>
      </div>
    </main>
    <%- include('tail.ejs') %>
  </body>

</html>
